*  {
    margin: 0;
    padding: 0;
}
.admin-dashboard {
    background-color: brown;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}
.header {
    background-color: rgb(50, 36, 19);
    grid-column: 2/3;
}
.nav {
    background-color: bisque;
    grid-row: 1/3;
}
.main  {
    background-color: teal;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows:  9fr 0.3fr;
    gap: 1rem;
    padding: 1rem 2rem;
}
.card{
    background-color:whitesmoke ;
    width: 100%;
    height: 100%;
}
h3 {
    margin: 1rem auto;
}
.projects-section .projects {
    width: auto;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
}
.projects .project {
    background-color: azure;
    border: 1px solid black;
}
.main .news {
    height: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
}
.news .announcements {

}
